body {
    background-color: #eeeeee;
}


.leftbar{
    position: fixed;
    width: 20%;
    max-width: 25%;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.dashboard,
.users,
.sidebarsitename,
.notactive
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5%;
}

.altsidebar {
    margin: 5%;
}
.logout {
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5%;
    color: white;
}
.changeuser {
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5%;
    color: white;
}
.colormagenta {
    background-color:darkmagenta;
    color: white;
}
.active {
    background-color: blueviolet;
    color: white;
}
.active a{
    background-color: blueviolet;
    color: white;
}
.ydo {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    float: left;
    max-width: 68%;
    margin-left: 23%;
    margin-top: 3%;
}
.ydo p{
    margin: 1%
}
.mainwebsite a {
    margin-left: 35%;
    color: white;
}

/*Tables*/
table, td, th {
    border: 1px solid black;
}

.allparagraphstable {
    margin-left: 10%;
}

table {
    color: black;
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}

.datas {
    color: red;
    display: flex;
    height: 20%;
    margin-right:25vw;
    margin-left: 25vw;
}
/*Tables*/