body {
    background-color: #eeeeee;
}
.all {
}

.leftbar{
    position: fixed;
    width: 20%;
    max-width: 25%;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}

.dashboard,
.users
{
    margin: 5%;
}

.active {
    background-color: blueviolet;
    color: white;
}